.control-panel-header{
    text-align: center;
    height: 100%;
    width: 100%;
    margin:0px;
    display: flex;
    flex-direction: column; 
}

.control-panel-body{
    display: flex;
    width: 100%;
    height: 100%;
}

.overlay-screen{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0 ,0, 0, 0.5);
    z-index: 2;
}

.sidebar-nav{
    position:absolute;
    margin: 0px;
    padding: 0;
    width: 15%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.navigation-tab{
    cursor: pointer;
    width:100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;;
    display: inline-block;
    transition: background-color 300ms linear 0s;
    /* justify-content: center;
    align-items: center; */
}

.navigation-tab:hover{
    filter: brightness(1.5);
    background-color: #3a4750;
}

.topbar-nav{
    margin:0px;
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-icon{
    cursor: pointer;
    color: white;
    font-size: 25px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 300ms linear 0s ;
}

.menu-icon:hover {
    filter: brightness(1.5);
    background-color: #3a4750;
}