.gallery-panel{
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
}

.frame{
    border: 2px solid black;
    width: 30%;
    height: 40%;
    margin: 1%;
}

.card1{
    background-color: rgba(244, 50,50, 0.5);
}

.card2{
    background-color: rgba(50, 244,50, 0.5);
}

.card3{
    background-color: rgba(50, 50, 244, 0.5);
}

.card4{
    background-color: rgba(244, 244,50, 0.5);
}

.card5{
    background-color: rgba(244, 50, 244, 0.5);
}

.card6{
    background-color: rgba(50, 244, 244, 0.5);
}